[submodule "logicmodule/javaclay"]
	path = logicmodule/javaclay
	url = https://github.com/bsc-dom/javaclay
	update = merge
[submodule "dspython/pyclay"]
	path = dspython/pyclay
	url = https://github.com/bsc-dom/pyclay
	update = merge
[submodule "orchestration"]
	path = orchestration
	url = https://github.com/bsc-dom/dataclay-orchestration.git
