.dockerbuildx*
javaclay/bin
javaclay/dbfiles
javaclay/.classpath
javaclay/.settings
javaclay/.project
javaclay/.travis*
javaclay/.project
javaclay/.pydevproject
javaclay/.git*
javaclay/.idea
javaclay/*.iml
javaclay/*.md
javaclay/LICENSE.txt
javaclay/dataclay-common
javaclay/checkstyle
javaclay/state.txt